.page {
    align-items: center;
    flex-direction: column;
  }
  .form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
    vertical-align: middle;
  }

  .centered{
    text-align: center;
  }
  .btn-danger{
    background-color : firebrick;
    color: white;
  }

  .title{
    color: gray;
    margin-top: 15;
    margin-bottom: 15;
    margin-right: 20;
  }

  .image{
    height: 20%;
    
  }